/* Stylesheet for the excursion project */

/* General styles */
body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1, h2 {
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px
}

a {
  font-size: 16px;
  color: aquamarine;
}

p {
  color: gray;
}

/* Special styles */

.copy {
  text-align: right;
}
